<%- include('partials/headerprofile') %>
<nav class="profilenav">
  <div class="navflexbox">
    <div class="logo">
      <img src="images/logonav.png" alt="" class="navimage">
    </div>
    <div class="home">
      <i class="fa-solid fa-house large"></i>
    </div>
    <div class="trending">
      <i class="fa-solid fa-bolt large"></i>
    </div>
    <div class="options">
      <button type="button" name="button" id="sideviewbutton" style="background-color:transparent; border:none;"><i class="fa-solid fa-bars-staggered large"></i></button>
    </div>
  </div>
</nav>
<!--*******************************-->
<div class="displayimages">
  <div class="backimage">
    <img src=images/bg2.jpg alt="Background Image" class="backcover">
  </div>
  <div class="testclass">
    <div class="centergridfordiv">
      <div class="" style="width:33vw">

      </div>
      <div class="profileimage">
        <img src=<%=profileimage%> alt="Profile Image" class="displaypic">
      </div>
      <div class="" style="width:33vw">
      </div>
    </div>
  </div>
</div>
<!-- ************************************* -->
<div class="personaldetails">
  <div class="minidetails">
    <div class="usernamediv">
      <%=username%>
    </div>
  </div>
  <div class="">

  </div>
  <div class="basicdetails">
    <div class="basicdetailsdiv">
      <div class="ulheader">
        <p class="friendsLink" style="font-weight:900;">Friends</p>
      </div>
      <ul class="friendsList">
        <% friends.forEach(function(username){ %>
        <li><a href="/friends/<%=username%>" class="friendsLink"><%=username%></a></li>
        <%});%>
        <div class="fixedpoints">
          <li>
            <hr class="listhr">
          </li>
          <li><a href="allpeople"><i class="fa-solid fa-user-plus friendsLink"></i></a></li>
        </div>
      </ul>
    </div>
  </div>
</div>

<!-- ******************************************* -->
<div class="postsflexbox">
  <div class="photos">
    Posts
  </div>
  <div class="photocardsgrid">
    <%posts.forEach((photolink)=>{%>
    <div class="postphotos photohover hiddenscroll">
      <a href="<%=photolink%>" target="_blank"><img src="<%=photolink%>" alt="<%=photolink%>" class="postedphotoclass hiddenscroll" style="color:white;"></a>
    </div>
    <%});%>
    <div class="addimage">
      <div class="addimgbox">
        <form class="" action="/profileaddpost" method="post" enctype="multipart/form-data">
          <input type="file" name="newpost" value="">
          <br>
          <button type="submit" name="button" class="addimgbutton"><i class="fa-solid fa-circle-plus largeplus"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- ********************************* -->
<div class="sidebar">
  <p class="sidebarheader">Hello <%=username%> !!!</p>
  <p><a href="/rmfriends"><button type="button" name="button" class="sidebarbutton">Remove Friend(s)</button></a></p>
  <p><a href="/rmposts"><button type="button" name="button" class="sidebarbutton">Remove Post(s)</button></a></p>
  <div class="chat hiddenscroll">
    <%chats.forEach((item) => {%>
    <div class="chatusername">
      <%=item.username%>
    </div>
    <div class="chatddiv">
      <%=item.chat%>
    </div>
    <%});%>
  </div>
  <div class="chatform">
    <form class="" action="/addchat" method="post">
      <span><input type="text" name="newchat" value="" placeholder="Write Here.." class="chatinput"><button type="submit" name="button" class="chatsubmit"><i class="fa-solid fa-paper-plane"></i></button>
      </span>
    </form>
  </div>
  <p><a href="/logout"><button type="button" name="button" class="sidebarbutton">LOGOUT</button></a></p>
</div>

<%- include('partials/footer') %>
