<%- include('partials/appleoplehead') %>

<nav class="profilenav">
  <div class="navflexbox">
    <div class="logo">
      <img src="images/logonav.png" alt="" class="navimage">
    </div>
    <div class="home">
      <a href="/profile"><i class="fa-solid fa-house large"></i></a>
    </div>
    <div class="trending">
      <a href="/trending"><i class="fa-solid fa-bolt large"></i></a>
    </div>
    <div class="options">
      <button type="button" name="button" id="sideviewbutton" style="background-color:transparent; border:none;"><i class="fa-solid fa-bars-staggered large"></i></button>
    </div>
  </div>
</nav>

<table class="people">
  <%item.forEach((value)=>{%>
    <tr>
      <td class="username"><img src="<%=value%>" alt="" style="width:300px;height:300px; object-fit:cover;"></td>
      <td class="addbtndiv">
        <form class="" action="/posts/<%=value%>" method="post">
          <button type="submit" class="selctorbutton" id=""><i class="fa-solid fa-circle-xmark selectorbutton" style="font-size:80px;"></i></button>
        </form>
      </td>
    </tr>
  <%});%>
</table>


<div class="sidebar">
  <p class="sidebarheader">Hello <%=username%> !!!</p>
  <p><a href="/rmfriends"><button type="button" name="button" class="sidebarbutton">Remove Friend(s)</button></a></p>
  <p><a href="/rmposts"><button type="button" name="button" class="sidebarbutton">Remove Post(s)</button></a></p>
  <div class="chat hiddenscroll">
    <%chats.forEach((item) => {%>
    <div class="chatusername">
      <%=item.username%>
    </div>
    <div class="chatddiv">
      <%=item.chat%>
    </div>
    <%});%>
  </div>
  <div class="chatform">
    <form class="" action="/addchat" method="post">
      <span><input type="text" name="newchat" value="" placeholder="Write Here.." class="chatinput"><button type="submit" name="button" class="chatsubmit"><i class="fa-solid fa-paper-plane"></i></button>
      </span>
    </form>
  </div>
  <p><a href="/logout"><button type="button" name="button" class="sidebarbutton">LOGOUT</button></a></p>
</div>


<%- include('partials/footer') %>
