<%- include('partials/headerprofile') %>
<nav class="profilenav">
  <div class="navflexbox">
    <div class="logo">
      <img src="images/logonav.png" alt="" class="navimage">
    </div>
    <div class="home">
      <a href="/profile"><i class="fa-solid fa-house large"></i></a>
    </div>
    <div class="trending">
      <i class="fa-solid fa-bolt large"></i>
    </div>
    <div class="options">
      <button type="button" name="button" id="sideviewbutton" style="background-color:transparent; border:none;"><i class="fa-solid fa-bars-staggered large"></i></button>
    </div>
  </div>
</nav>
<!--*******************************-->
<div class="displayimages">
  <div class="backimage">
      <!-- testimage inserted--><img src=images/bg2.jpg alt="Background Image" class="backcover">
  </div>
<div class="testclass">
  <div class="centergridfordiv">
    <div class="" style="width:33vw">

    </div>
    <div class="profileimage">
      <img src=<%=profileimage%> alt="Profile Image" class="displaypic">
    </div>
    <div class="" style="width:33vw">
    </div>
  </div>
</div>
</div>
<!-- ************************************* -->
<div class="personaldetails">
  <div class="minidetails">
      <div class="usernamediv">
        <%=username%>
      </div>
  </div>
  <div class="">

  </div>
  <div class="basicdetails">

    <div class="basicdetailsdiv">
      <div class="ulheader">
        <p class="friendsLink" style="font-weight:900;">Friends</p>
      </div>
      <ul class="friendsList">
        <% friends.forEach(function(username){ %>
          <li class="viewfriends"><%=username%></li>
        <%});%>
      </ul>
    </div>
  </div>
</div>
<!-- ********************************** -->
<div class="postsflexbox">
  <div class="photos">
    Posts
  </div>
  <div class="photocardsgrid">
    <%posts.forEach((photolink)=>{%>
    <div class="postphotos  hiddenscroll">
      <a href="<%=photolink%>" target="_blank"><img src="<%=photolink%>" alt="<%=photolink%>" class="postedphotoclass photohover hiddenscroll" style="color:white;"></a>
        <button type="submit" name="like" id="<%=photolink%>" class="likebutton"><i class="fa-solid fa-heart like"></i></button>
    </div>
    <%});%>
  </div>
</div>


<div class="sidebar">
  <p class="sidebarheader">Hello <%=username2%> !!!</p>
  <p><a href="/rmfriends"><button type="button" name="button" class="sidebarbutton">Remove Friend(s)</button></a></p>
  <p><a href="/rmposts"><button type="button" name="button" class="sidebarbutton">Remove Post(s)</button></a></p>
  <div class="chat hiddenscroll">
    <%chats.forEach((item) => {%>
    <div class="chatusername">
      <%=item.username%>
    </div>
    <div class="chatddiv">
      <%=item.chat%>
    </div>
    <%});%>
  </div>
  <div class="chatform">
    <form class="" action="/addchat" method="post">
      <span><input type="text" name="newchat" value="" placeholder="Write Here.." class="chatinput"><button type="submit" name="button" class="chatsubmit"><i class="fa-solid fa-paper-plane"></i></button>
      </span>
    </form>
  </div>
  <p><a href="/logout"><button type="button" name="button" class="sidebarbutton">LOGOUT</button></a></p>
</div>

<%- include('partials/footer') %>
